.App {
  text-align: center;
  font-family: "Montserrat", sans-serif, "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.error-404-section {
  font-family: "Montserrat", sans-serif;
}
