.App {
  text-align: center;
  font-family: "Montserrat", sans-serif, "Poppins", sans-serif;
  padding-top: 4rem;
}

.error-404-section {
  font-family: "Montserrat", sans-serif;
}

/* Navbar Component Styling Starts */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background: rgb(239, 227, 227);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar-brand a,
.navbar-item a {
  color: black;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.navbar-child.navbar-right {
  display: flex;
  flex-direction: row;
}

.navbar-right-child.navbar-item {
  margin: 5px;
}

/* .navbar-item {
  flex: 1;
}

.navbar-item.brand {
  flex: 2;
  font-size: 2rem;
  border: 2px solid red;
  font-family: "Poppins", sans-serif;
}

.navbar-item.navbar-link-wrapper {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-size: 1.5rem;
}

.navbar-link {
  flex: 1;
}

.nav-item,
.nav-item a {
  font-family: "Montserrat", sans-serif;
  color: red;
} */

/* Navbar Component Styling Ends */

/* About Component Styling Starts */

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about {
  flex: 1;
  /* border: 2px solid red; */
}

.about.about-title {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin: 1rem;
}

.about.about-msg {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
}

.our-team-container {
  margin: 0 auto;
  margin-bottom: 5rem;
}

/* About Component Styling Ends */

/* OurTeam Component Styling Starts */

.our-team-card {
  display: grid;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

/* OurTeam Component Styling Ends */

/* Cart Component Styling Starts */

.no-product-in-cart .icon {
  color: red;
  border: 5px solid red;
  font-size: 8rem;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
  width: 10rem;
}

.cart-page {
  display: flex;
  justify-content: space-around;
}

.cart-items {
  /* flex: 1; */
}

.cart-items.cart-detail {
  display: flex;
  flex-direction: column;
}

.cart-items .btn {
  /* flex: 1; */
}

.cart-detail button.proceed-to-buy,
.cart-detail button.cart-total {
  max-width: 40vw;
  margin: 1rem auto;
}

/* Cart Component Styling Ends */

/* CartCard Component Styling Starts */

.cart-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
  max-width: 700px;
  font-family: "Poppins", sans-serif;
}

.cart-card-img img {
  max-width: 100px;
}

.cart-card-img {
  flex: 1;
  /* border: 1px solid grey; */
  margin: 5px;
}

.cart-card-detail {
  flex: 3;
  /* border: 1px solid grey; */
  margin: 5px;
  text-align: left;
  padding-left: 3rem;
}

.cart-card .cart-card-detail button.increase-item,
.cart-card .cart-card-detail button.decrease-item {
  border: 2px solid black;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  padding: 0;
  color: white;
  border-radius: 50%;
}

/* CartCard Component Styling Ends */

/* Contact Component Styling Starts */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact.contact-title {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin: 1rem;
}

.contact {
  flex: 1;
}

.contact-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 5rem;
}

.contact-form-body {
  flex: 0.5;
}

.contact-detail {
  flex: 2;
  min-width: 300px;
  padding: 1rem;
}

.feedback-wrapper {
  flex: 3;
  border: 2px solid grey;
  border-radius: 5px;
}

.contact-form-body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.contact.contact-heading {
  font-size: 1.5rem;
  margin: 1rem;
}

.contact.contact-msg {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
}

.feedback-wrapper {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 500px;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
}

.feedback-element {
  flex: 1;
}

.feedback-body .form-control {
  min-height: 100px;
}

@media (max-width: 868px) {
  .contact-form {
    flex-direction: column;
    padding-bottom: 2rem;
  }
}

/* Contact Component Styling Ends */

/* ProductCard Component Styling Starts */

.product-card {
  /* display: flex;
  flex-direction: column;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 5px;
  justify-content: space-around;
  align-items: center; */
  font-family: "Poppins", sans-serif;
}

img {
  margin: 0 auto;
  max-width: 200px;
}

.card {
  width: 18rem;
  margin: 1rem;
  margin: 0 auto;
}

button {
  margin: 2px;
}

.product-card-element {
  display: flex;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

/* ProductCard Component Styling Ends */

/* ProductView Component Styling Starts */

.product-view {
  margin: 2rem;
  justify-content: center;
  background-color: rgb(238, 202, 238);
}

a {
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 4rem;
}

/* ProductView Component Styling Ends */

@media only screen and (max-width: 768px) {
  .cart-page {
    flex-direction: column;
  }
}
